html {
    @include rem-baseline;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-family;
    font-size: $font-size--base;
    line-height: $line-height--base;
    font-weight: $font-weight--regular;
    &.navbar-is-open {
        overflow: hidden;
    }
}

a {
    @include themed() {
        color: t('link');
    }
    @include attention() {
        @include themed() {
            color: t('hover');
        }
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.base {
    @include themed() {
        color: t('text');
        background: t('bg');
    }
}

.announcement {
    background-color: $bg--announcement;
    height: $announcement-height;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: $text--dark;
        @include attention() {
            color: transparentize($text--dark, .15);
        }
    }
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include attention() {
        outline: 0;
    }
}


