.header {
    position: sticky;
    top: 0;
    backdrop-filter: saturate(180%) blur(8px);
    @include themed() {
        background: transparentize(t('bg'), .1);
    }
    > .container {
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        &__link {
            @extend %title-text;
            font-size: $font-size--base + rem(2px);
            line-height: 1;

            a {
                @include themed() {
                    color: t('text');
                    @include attention() {
                        color: transparentize(t('text'), .15);
                    }
                }
            }
        }
        &__text {
            font-weight: $font-weight--light;
            font-size: $font-size--tertiary;
        }
    }
    .navbar {
        font-size: $font-size--tertiary;
        display: none;
        @include mq($from: desktop) {
            display: block;
        }
        > ul {
            display: flex;
        }
        a {
            display: inline-block;
            padding: rem(8px);
            @include themed() {
                color: t('text');
                @include attention() {
                    color: transparentize(t('text'), .15);
                }
            }
        }
        li {
            &.active a {
                font-weight: $font-weight--bold;
            }
            &.menu-item-has-children {
                position: relative;
                ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: none;
                    @include themed() {
                        background: transparentize(t('bg'), .1);
                    }
                }
                @include attention() {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }

    .hamburger {
        @include mq($from: desktop) {
            display: none;
        }
    }

}



// .header {
//     position: sticky;
//     top: 0;
//     backdrop-filter: saturate(180%) blur(8px);
//     @include themed() {
//         background: transparentize(t('bg'), .1);
//     }
//     > .container {
//         height: $header-height;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }
//     .logo {
//         &__link {
//             @extend %title-text;
//             font-size: $font-size--base + rem(2px);
//             line-height: 1;

//             a {
//                 @include themed() {
//                     color: t('text');
//                     @include attention() {
//                         color: transparentize(t('text'), .15);
//                     }
//                 }
//             }
//         }
//         &__text {
//             font-weight: $font-weight--light;
//             font-size: $font-size--tertiary;
//         }
//     }
//     .navbar {
//         position: fixed;
//         width: 100vw;
//         left: 0;
//         transition: transform .4s ease-in-out;
//         transform: translateX(100%);
//         @include mq($until: desktop) {
//             @include themed() {
//                 background: t('bg');
//                 border-top: rem(1px solid t('border'));
//             }
//         }
//         .navbar-is-open & {
//             transform: translateX(0);
//         }
//         li.active a {
//             font-weight: $font-weight--bold;
//         }
//         > ul {
//             @include mq($until: desktop) {
//                 @include container;
//                 ul {
//                     padding-left: rem(20px);
//                 }
//                 li {
//                     @include themed() {
//                         border-top: rem(1px solid t('border'));
//                     }
//                 }
//                 > li:first-child() {
//                     border-top: 0;
//                 }
//             }
//         }
//         a {
//             display: block;
//             padding: rem(8px 0);
//             @include themed() {
//                 color: t('text');
//             }
//             @include attention() {
//                 @include themed() {
//                     color: transparentize(t('text'), .3) ;
//                 }
//             }
//             @include mq($from: desktop) {
//                 display: inline-block;
//                 padding: rem(0 8px);
//                 height: 100%;
//                 display: flex;
//                 align-items: center;
//             }
//         }
//         @include mq($from: desktop) {
//             position: static;
//             width: auto;
//             transition: none;
//             transform: none;
//             font-size: $font-size--tertiary;
//             > ul {
//                 display: flex;
//                 > li {
//                     height: 70px;
//                 }
//             }
//             li.menu-item-has-children {
//                 position: relative;
//                 @include attention() {
//                     > ul {
//                         display: block;
//                     }
//                 }
//                 > ul {
//                     position: absolute;
//                     top: 100%;
//                     left: 0;
//                     display: none;
//                     a {
//                         padding: rem(5px 8px);
//                     }
//                     @include themed() {
//                         background: transparentize(t('bg'), .1);
//                     }
//                 }
//             }
//         }
//     }
//     .hamburger {
//         @include mq($from: desktop) {
//             display: none;
//         }
//     }
// }