.container {
    max-width: rem($container-mw-mobile);
    @include center-block;
    padding: rem(0 15px);

    @include mq($from: tablet) {
        max-width: rem($container-mw-tablet);
    }
    @include mq($from: desktop) {
        max-width: rem($container-mw-desktop);
    }
}