.branding {
    text-align: center;
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(18px);
    }
    h2 {
        font-size: rem(15px);
        font-weight: 300;
    }
}