.branding {
    @include mq($until: tablet) {
        text-align: center;
    } 
    h1 {
        font-weight: 700;
        font-size: rem(18px);
    }
    h2 {
        font-size: rem(15px);
        font-weight: 300;
        text-transform: capitalize;
    }
}