.featured-list {
    .featured-list-title {
        font-size: rem(20px);
        padding-bottom: rem(6px);
        text-align: center;
        border-bottom: rem(1px solid $color-athens-gray);
        margin-bottom: rem(24px);
    }
}