#footer {
    background-color: $color-tundora;
    padding: rem(20px 0);
    color: $color-white;
    font-size: rem(12px);
    line-height: 1.6;
    position: relative;
    @include mq($from: tablet) {
        padding: rem(10px 0);
    }
    > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        @include mq($from: tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    .copyright {
        @include mq($until: tablet) {
            text-align: center;
        }
    }
    .legal {
        display: block;
        @include mq($from: tablet) {
            display: inline;
        }
        a {
            @include attention() {
                text-decoration: underline;
            }
        }
    }
}