.grid-image {
    display: flex;
    flex-flow: row wrap;
    &+.grid-image {
        margin-top: $grid-gap-small;
    }

    %grid-image {
        flex: 0 auto;
        margin: 0 auto;
        width: 100%;
        &:not(:last-child){
            margin: 0 0 $grid-gap-small;
        }
        @include mq($from: tablet) {
            &:not(:last-child){
                margin: 0 $grid-gap-small 0 0;
            }
        }
    } 

    // register all possible ratios
    .grid-image,
    .grid-image--aspect3x2,
    .grid-image--aspect2x3,
    .grid-image--aspect8x10,
    .grid-image--aspect16x9,
    .grid-image--aspect1x1 {
        @extend %grid-image;
    }

    .grid-image--aspect3x2 {
        @include mq($from: tablet) {
          flex: 1.5 0%;
        }
    }
    
    .grid-image--aspect2x3 {
        @include mq($from: tablet) {
          flex: .666667 0%;
        }
    }
    
    .grid-image--aspect8x10 {
        @include mq($from: tablet) {
          flex: .8 0%;
        }
    }

    .grid-image--aspect16x9 {
        @include mq($from: tablet) {
          flex: 1.7777777778 0%;
        }
    }

    .grid-image--aspect1x1 {
        @include mq($from: tablet) {
          flex: 1 0%;
        }
    }

    figure {
        position: relative;
        overflow: hidden;
        @include attention() {
            img {
                transform: scale(1.04);
            }
            figcaption {
                opacity: 1;
            }
        }
        figcaption {
            color: $color-white;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color-black, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity .4s ease-in-out;
            h1 {
                width: 100%;
                height: 100%;
                font-weight: 700;
                font-size: rem(20px);
                text-transform: uppercase;
                a {
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        img {
            transition: transform .4s ease-in;
        }
    }


}