#main-nav {
    font-size: rem(14px);
    
    > ul {
        display: none;
        @include mq($from: tablet) {
            display: flex;
            a {
                opacity: .75;
                padding: rem(10px 8px);
            }
            li {
                @include attention() {
                    & > a {
                        opacity: 1;
                    }
                }
                &.active a {
                    font-weight: 700;
                    opacity: 1;
                }
                &.menu-item-has-children {
                    position: relative;
                    @include attention() {
                        ul {
                            display: block;
                        }
                    }
                    ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: rgba($color-white, .85);
                        a {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    #menu-toggle {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include mq($from: tablet) {
            display: none;
        }
    }
}