#masthead {
    border-bottom: rem(1px solid $color-athens-gray);
    box-shadow: rem(0 1px 8px rgba(0,0,0,0.2));
    position: relative;
    z-index: 99999;
    > .container {
        height: $masthead-height;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: height .4s ease-in-out;
        @include mq($from: tablet) {
            justify-content: space-between;
        }
        .masthead-is-collapsed & {
            height: $masthead-height-collapsed;
        }
    }

    .masthead-is-fixed & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $color-white;
        z-index: 1;

    }

    #menu-toggle {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include mq($from: tablet) {
            display: none;
        }
    }
}  