#offcanvas {
    background-color: rgba($color-white, .95);
    position: fixed;
    top: rem($announcement-bar-height + $masthead-height);
    right: 0;
    z-index: 999;
    transform: translateX(100%);
    transition: all .4s ease-in-out;
    height: calc(100vh - #{rem($announcement-bar-height + $masthead-height)});
    width: 100vw;
    padding: rem(20px);
    .offcanvas-is-open & {
        transform: translateX(0);
    }
}