.site-nav {
    font-size: rem(14px);
    a {
        opacity: .75;
    }
    li {
        @include attention() {
            a {
                opacity: 1;
            }
        }
        &.active a {
            font-weight: 700;
            opacity: 1;
        }
    }
    #masthead & {
        display: none;
        @include mq($from: tablet) {
            display: block;
        }
    }
    #offcanvas & {
        > ul {
            > li {
                &:first-child() {
                    border-top: 0;
                }
            }
            ul {
                padding-left: rem(25px);
            }
            li {
                border-top: rem(1px solid $color-athens-gray);
            }
            a {
                display: block;
                padding: rem(10px 0);
            }
        }
    }


    // background-color: $color-white;
    // @include mq($from: tablet) {
    //     > ul {
    //         display: flex;
    //         a {
    //             opacity: .75;
    //             padding: rem(10px 8px);
    //         }
    //         li {
    //             @include attention() {
    //                 & > a {
    //                     opacity: 1;
    //                 }
    //             }
    //             &.active a {
    //                 font-weight: 700;
    //                 opacity: 1;
    //             }
    //             &.menu-item-has-children {
    //                 position: relative;
    //                 @include attention() {
    //                     ul {
    //                         display: block;
    //                     }
    //                 }
    //                 ul {
    //                     display: none;
    //                     position: absolute;
    //                     top: 100%;
    //                     left: 0;
    //                     background: rgba($color-white, .95);
    //                     a {
    //                         display: inline-block;
    //                     }
    //                 }
    //             }
    //         }
    //     } 
    // }
}