.social {
    display: flex;
    a {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        #footer & {
            background-color: rgba($color-black, .1);
            border-radius: 50%;
        }
    }

    li:not(:last-child){
        margin-right: rem(5px);
    }
}