.teaser {
    figure {
        margin-bottom: rem(20px);
    }
    h1 {
        font-size: rem(18px);
        text-transform: capitalize;
        margin-bottom: rem(10px);
    }

    p {
        font-size: rem(15px);
    }
}